# SPDX-License-Identifier: GPL-2.0+
# Copyright (C) 2019 Sean Anderson <seanga2@gmail.com>

if TARGET_SIPEED_MAIX

config SYS_BOARD
	default "maix"

config SYS_VENDOR
	default "sipeed"

config SYS_CPU
	default "generic"

config SYS_CONFIG_NAME
	default "sipeed-maix"

config SYS_TEXT_BASE
	default 0x80000000

config DEFAULT_DEVICE_TREE
	default "k210-maix-bit"

config NR_CPUS
	default 2

config NR_DRAM_BANKS
	default 2

config SYS_MALLOC_F_LEN
	default 0x8000

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select GENERIC_RISCV
	select DM_SERIAL
	select SIFIVE_SERIAL
	select ARCH_DEFAULT_RV64I
	select ENV_IS_NOWHERE
	imply SIFIVE_CLINT
	imply K210_SYSCTL
	imply CLK_K210
	imply SPI
	imply DM_GPIO
	imply CMD_GPIO
	imply SYS_NS16550
	imply SYS_MALLOC_F
endif
